* {
    font-family: sans-serif;
}

body {
    margin: 0px;
}

#search-window {
    background-color: grey;
}

h1 {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
} 

header {
    height: 100px;
    background-color: gray;
}

.search-col {
    margin: 20px;
}

.list-group {
    margin-top: 20px;
    width: 100%;
}

.details-col {
    margin-top: 20px;
}